.button {
    display: block;
    position: relative;
    /*width: 200px;*/
    /*height: 44px;*/
    padding: 4px 14px;
    line-height: 42px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background-color: #37c871;
    text-transform: uppercase;
    font-weight: bold;
}

.button:disabled {
    background-color: rgb(229, 229, 229);
}